@model Disaster_Alleviation_Foundation.Models.Volunteer

@{
    ViewData["Title"] = "Edit";
}



<h4>Edit Your Volunteerings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HPS_Registration_Number" class="control-label"></label>
                <input asp-for="HPS_Registration_Number" class="form-control" />
                <span asp-validation-for="HPS_Registration_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason_to_Volunteer" class="control-label"></label>
                <input asp-for="Reason_to_Volunteer" class="form-control" />
                <span asp-validation-for="Reason_to_Volunteer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Volunteerings List</a>
</div>
